.app {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
            "nav hed"
            "nav cat";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 150px 1fr;
  background-color: #f0f0f0;
}

.header {
  margin: 20px auto;
}

.category {
  margin: 20px auto;
  grid-area: cat;
  height: 100%;
}

.nav {
  background-color: white;
  grid-area: nav;
  padding-top: 40px;
}

.nav > div > div {
  padding: 10px;
}